<div>
  <div class="rounded-3">
    <div class="p-4">
      <h5 class="fw-bold mb-1 text-link fs-18">
        WHERE YOU STAND
        <span class="ms-2 text-link" style="cursor: pointer" title="Your score history data.">
          <span class="mdi mdi-information-outline"></span>
        </span>
      </h5>
    </div>
    <div class="main-bg p-5 mt-5">
      <div class="progress-outer container">
        <div class="rounded-5">
          <div class="relative mb-10">
            <div class="d-flex graph-list w-full rounded-4">
              <div
                class="segment-1 rounded-start-3 d-flex justify-content-center align-items-center me-2"
                style="width: 15%"
              >
                <span class="fs-18 text-white">15%</span>
              </div>
              <div
                class="segment-2 d-flex justify-content-center align-items-center me-2"
                style="width: 22%"
              >
                <span class="fs-18 text-white">22%</span>
              </div>
              <div
                class="segment-3 d-flex justify-content-center align-items-center me-2"
                style="width: 26%"
              >
                <span class="fs-18 text-white">26%</span>
              </div>
              <div
                class="segment-4 d-flex justify-content-center align-items-center me-2"
                style="width: 18%"
              >
                <span class="fs-18 text-white">18%</span>
              </div>
              <div
                class="segment-5 rounded-end-3 d-flex justify-content-center align-items-center"
                style="width: 19%"
              >
                <span class="fs-18 text-white">20%</span>
              </div>
            </div>
            <div class="score-indicator" style="left: 50%"></div>
          </div>
          <div class="text-center mt-6 mb-8">
            <p class="text-gray-500 text-lg font-medium tracking-wider">Your NB Score</p>
            <h1 class="text-5xl font-extrabold text-gray-800 my-2">767</h1>
          </div>
          <hr class="border-gray-200 mb-8" />
          <div class="d-flex justify-content-center mb-8">
            <div class="d-flex justify-content-between w-75">
              <span class="text-black fs-14">Score Range</span>
              <div class="d-flex justify-content-between align-items-center">
                <div class="segment-1 legend-box"></div>
                <span class="text-secondary fs-14 ms-2 fw-bold">300-722</span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="segment-2 legend-box"></div>
                <span class="text-secondary fs-14 ms-2 fw-bold">723-747</span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="segment-3 legend-box"></div>
                <span class="text-secondary fs-14 ms-2 fw-bold">748-764</span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="segment-4 legend-box"></div>
                <span class="text-secondary fs-14 ms-2 fw-bold">765-777</span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="segment-5 legend-box"></div>
                <span class="text-secondary fs-14 ms-2 fw-bold">778-900</span>
              </div>
            </div>
          </div>
          <div class="text-center mt-12 pt-4">
            <p class="text-lg text-gray-700 font-medium">
              Your NB Score lies in the top <span class="font-bold text-green-700">70%</span> in All
              Of India.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
